.banner-content {
	width: 1200px;
	height: 90px;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
}

.banner-content .logo img {
	margin-bottom: 34px;
	margin-top: 34px;
}

.banner-content .index {
	float: right;
	line-height: 90px;
}

.banner-section {
	width: 100%;
	height: 840px;
    background: url('../images/banner.jpg') center;
    background-size: cover;
}

.triple-section {
	width: 100%;
	height: 450px;
    color: #fff;
	background: url('../images/bg1.png') center;
    background-size: cover;
}

.img-triple {
    width: 33.3%;
    height: 100%;
    float: left;
    position: relative;
}

.img-triple.side {
    background: rgba(0,0,0,0.25);
    *filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#40000000,endcolorstr=#40000000);
}

.img-triple.middle {
    background: rgba(0,0,0,0.2);
    *filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#33000000,endcolorstr=#33000000);
}

.img-triple .text {
    margin-top: 238px;
    text-align: center;
}

.img-triple img {
    position: absolute;
    top: 88px;
    left: 50%;
    margin-left: -60px;
}

.img-triple .text h2 {
    font-size: 34px;
    margin-bottom: 16px;
}

.img-triple .text p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
}

.bg {
    width: 100%;
    height: 500px;
}

.bg .blue {
    display: block;
    position: absolute;
    top: 113px;
}

.position-section {
    background: url('../images/bg2.png') center;
    background-color: #f8f8f8;
    background-size: cover;
}

.content {
    width: 350px;
    height: 206px;
    margin-top: -103px;
    position: absolute;
    top: 50%;
}

.blue {
    width: 18px;
    height: 4px;
    background-color: #4497d0;
}

.float-right {
    width: 50%;
    height: 100%;
    left: 50%;
    position: relative;
}

.float-right .content, .float-right .blue {
    left: 250px;
}

.float-left {
    width: 50%;
    height: 100%;
    text-align: right;
    position: relative;
}

.float-left .content, .float-left .blue {
    right: 250px;
}

.content h1 {
    font-size: 48px;
    color: #555;
    margin-bottom: 42px;
}

.content p {
    font-size: 24px;
    color: #666;
    margin-bottom: 8px;
}

.measure-section {
    background: url('../images/bg3.png') center;
    background-size: cover;
}

.recognize-section {
    background: url('../images/bg4.png') center;
    background-color: #f8f8f8;
    background-size: cover;
}

.detection-section {
    background: url('../images/bg5.png') center;
    background-size: cover;
}

.none {
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
}
.quarter-section {
    width: 100%;
    height: 420px;
    position: relative;
}

.img-quarter {
    width: 25%;
    height: 100%;
    float: left;
}

.img-quarter img {
    width: 100%;
    height: 100%;
}

.img-quarter .filter {
    width: 25%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    background: rgba(0,0,0,0.4);
    *filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#66000000,endcolorstr=#66000000);
    position: absolute;
    bottom: 0;
}

.target-section {
    width: 100%;
    height: 680px;
    margin-top: 140px;
    background: url('../images/pic5.jpg') center;
    background-size: cover;
    position: relative;
}

.container {
    height: 268px;
    color: #fff;
    position: absolute;
    margin-top: 206px;
}

.target-section .container {
    padding-left: 60px;
    margin-left: 158px;
    left: 50%;
}

.target-section .blue {
    display: inline-block;
    margin-bottom: 12px;
    margin-right: 14px;
}

.target-section p {
    margin-left: 32px;
}

.container h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.container p {
    font-size: 16px;
}

.container .center {
    margin-bottom: 110px;
}

.ability-section {
    width: 100%;
    height: 680px;
    margin-top: 140px;
    margin-bottom: 140px;
    position: relative;
    background: url('../images/pic6.jpg') center;
    background-size: cover;
}

.ability-section .container{
    right: 50%;
    margin-right: 158px;
    padding-right: 60px;
    text-align: right;
}

.ability-section .blue {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: 14px;
}

.ability-section p{
    margin-right: 32px;
}

.footer {
    width: 100%;
    height: 352px;
    background-color: #f8f8f8;
}

.footer-content {
    width: 1200px;
    margin: 0 auto;
    padding-top: 139px;
}

.footer-content .footer-logo {
    float: left;
    margin-left: 0;
}

.footer-content div {
    float: right;
    margin-left: 116px;
}

.footer-content .title {
    margin-bottom: 22px;
}

.footer-content p {
    font-size: 14px;
    margin-bottom: 2px;
    color: #333;
    text-align: center;
}

.footer-content .icon img {
    display: block;
}

.icon .weibo {
    margin-bottom: 10px;
}

.down {
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    color: #333;
    margin-top: 93px;
    text-align: center;
}
